.remove-replay-button{
  width:100%;
  text-align: center;
  border: none;
  color: rgb(27, 149, 224);
  font-weight: bold;
  padding: 4px;
  background-color: rgba(128, 128, 128, 0.0);
} 

.remove-replay-button:hover {
  background-color: rgba(128, 128, 128, 0.1);
}